[build]
  command = "npm run build"
  publish = "public"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["govuk-prototype-kit", "serverless-http", "multer"]
  included_files = ["app/**", "package.json"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app"
  status = 200
  force = true
